* {
    margin: 0;
    padding: 3px;
}

body {
    background-color: lightyellow;
    text-align: center;
}

h1 {
    padding: 10px;
}

.container {
    height: 70vmin;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 1.5vmin;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    background-color: darkseagreen;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    font-size: 8vmin;
    color: brown;
}

#reset-btn {
    padding: 1rem;
    font-size: 2vmin;
    background-color: black;
    color: white;
    border-radius: 1rem;
    border: none;
}

#new-btn {
    padding: 1rem;
    font-size: 2vmin;
    background-color: black;
    color: white;
    border-radius: 1rem;
    border: none;
}

#msg {
    font-size: 5vmin;
    color: crimson;
}

.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide {
    display: none;
}